<div class="card" *ngFor="let product of products">
  <div class="card-divider">
    <h6>{{ product.name }}</h6>
    <div>
      <a (click)="deleteProduct(product)" class="float-right ml1" title="delete product">
        <img class="icon" src="assets/images/trash-can.svg" alt="">
      </a>
      <a [routerLink]="['/products', product.id]" class="float-right" title="edit product">
        <img class="icon" src="assets/images/pencil.svg" alt="">
      </a>
    </div>
  </div>
  <div class="card-section">
    <p>{{ product.description }}</p>
    <img class="product-image" src="{{product.image}}" alt="">
  </div>
  <div class="card-section">
    <div class="medium-6 quantity-container flex-box flex-vertical-end">
      <em class="medium-8 text-right mr1">({{ product.quantity }} available.)</em>
      <div class="flex-box flex-direction-column flex-vertical-center-align mr1">
        <h6 class="text-right">Unit(s)</h6>
        <div class="flex-box">
          <button type="button" class="button hollow" (click)="decrementQuantity()">-</button>
          <input class="text-right" type="number" value="1">
          <button type="button" class="button hollow" (click)="incrementQuantity()">+</button>
        </div>
      </div>
    </div>
    <div class="label">Rs {{ product.price }}</div>
    <a (click)="addProductToCart(product)" class="button success small float-right">
      Add to Cart
    </a>
  </div>
</div>