<div class="card" *ngFor="let product of cart_products">
    <div class="card-divider">
      <h6>{{ product.name }}</h6>
    </div>
    <div class="card-section">
      <p>{{ product.description }}</p>
      <img class="product-image" src="{{product.image}}" alt="">
    </div>
    <div class="card-section">
      <div class="label">Rs {{ product.price }}</div>
      <a (click)="removeProductFromCart(product)" class="button warning small float-right">
        Remove from Cart
      </a>    
    </div>
  </div>