<div class="card" *ngFor="let product of cart_products">
    <div class="card-divider">
      <h6>{{ product.name }}</h6>
    </div>
    <div class="card-section">
      <p>{{ product.description }}</p>
      <img class="product-image" src="{{product.image}}" alt="">
    </div>
    <div class="card-section">
      <div class="medium-6 quantity-container flex-box flex-vertical-end">
        <em class="medium-8 text-right mr1">({{ product.quantity }} available.)</em>
        <div class="flex-box flex-direction-column flex-vertical-center-align mr1">
          <h6 class="text-right">Unit(s)</h6>
          <div class="flex-box">
            <button type="button" class="button hollow" (click)="decrementQuantity()">-</button>
            <input class="text-right" type="number" value="1">
            <button type="button" class="button hollow" (click)="incrementQuantity()">+</button>
          </div>
        </div>
      </div>
      <div class="label">Rs {{ product.price }}</div>
      <a (click)="removeProductFromCart(product)" class="button warning small float-right">
        Remove from Cart
      </a>
    </div>
  </div>