.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-vertical-center-align {
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
}

.flex-direction-column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flex-vertical-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
}

.justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
