<div class="flex-box">
  <div class="row columns card-container ml1">
    <div class="callout">
      <h6 class="medium-4">
        Filter products
        <input type="text" (keyup)="filterProducts(search.value)" #search placeholder="Search for...">
      </h6>
    </div>
    <div class="no_products" *ngIf="products.length == 0 else showProducts">
      No products
    </div>
    <ng-template #showProducts>
      <app-product [products]="products" (productDeleted) = "onProductDelete()"></app-product>
    </ng-template>
  </div>
</div>